// .index-title {
//   font-size: 100px;
// }

*{
  // outline: 1px solid red;
}


.theme-card {
  border-radius: 20px 0 20px 0;
  overflow: hidden;
  position: relative;
  color: #fff;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #212529, $alpha: 0.4);
    transition: opacity .5s;
  }

  &:hover::before {
    opacity: 1;
    cursor: pointer;
  }
}

.swiper-container {
  width: 100%;
  overflow: hidden;
}

.swiper a {
  font-size: 20px;
  line-height: 2;
  color: #569573;
  text-decoration: none;
  font-weight: 700;
}

.swiper-slide {
  border-bottom: 1px solid #6c757d;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 192px;
  object-fit: cover;
}

.swiper-pagination {
  width: 232px;
  position: relative;
}

.swiper-pagination::after {
  content: "";
  width: 80px;
  height: 1px;
  background-color: #6c757d;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.swiper-prev:hover {
  background-color: #6c757d;
  color: #ffffff;
}

.swiper-button-disabled {
  color: #dee2e6;
  border-color: #dee2e6 !important;
}

.swiper-button-disabled:hover {
  cursor: default;
  background-color: initial !important;
}

.swiper-next:hover {
  background-color: #6c757d;
  color: #DEE2E6;
}

.only-staff {
  background: #e8e3da;
}


.border-line {
  width: 80px;
  height: 19px;
}

.hito-content{
  &::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 217px;
    height: 76px;
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/bg-1.png?raw=true");
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
  &::after{
    content: "";
      position: absolute;
      right: -20px;
      bottom: 0;
      display: block;
      width: 300px;
      height: 196px;
      background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/bg-2.png?raw=true");
      @include media-breakpoint-down(lg){                                
        width: 160px;
        height: 104px;
        background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/bg-2-sm.png?raw=true");
      }
  }
}

.popular-list{
  .nav {
    box-shadow: 0px 2px 8px #6e6b6714;
  }

  .nav-link {
    font-weight: 900;
    color: #212529;
    text-align: start;
  }

  .nav-link:hover {
    color: #569573;
  }

  .text a {
    color: #343A40;
  }

  .text li a:hover {
    color: #569573;
  }

  .nav-pills .nav-link.active {
    color: #212529;
    background-color: #e0efde;
  }

  .nav-pills {
    border-radius: 4px;
  }

  .tab-pane .text {
    gap: 20px;
  }

  .tab-pane .img {
    gap: 4px;
  }

  .tab-pane .img li:first-child img {
    border-radius: 20px 0 0 20px;
  }

  .tab-pane .img li:last-child img {
    border-radius: 0 20px 20px 0;
  }

  .section-footer li a {
    color: #6e6b67;
    background-color: #e8e3da;
  }

  .section-footer li a:hover {
    color: #ffffff;
    background-color: #6e6b67;
  }  
    
}

.fs-12 {
  font-size: 48px;
}


.carousel-container{
  @include media-breakpoint-down(lg) {
    display: block;
  }

  @include media-breakpoint-up(lg) {
    display: none;
  }
}